@import "config";
@import "utilities";
@import "hamburger.scss";
@import "card-slider";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
}

html,
body {
    font-family: $primary-font;
    color: $dark-color;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

// sale cta top start
.sale-cta-top {
    background: $dark-complimentary;
    color: $light-color;
    font-size: .7rem;
    line-height: 1.4;
    padding: .3rem 1rem;
    text-align: center;
    z-index: 999;
    position: relative;
}

// navbar category start
.navbar-category {
    color: $dark-color;
    background: #e7e7e7;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            padding: .7rem;
            font-size: .8rem;
        }
    }
}
// navbar category end

// home-hero start
#home {
    &-hero {
        background: url("../img/home-hero.jpg") no-repeat center center/cover;
        position: relative;
        color: $light-color;
        min-height: 66vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba($color: #333, $alpha: 0.50
            );
            height: 100%;
            width: 100%;
            z-index: 0;
        }

        .hero-content {
            position: absolute;
            top: 1.5rem;

            .flex-container {
                gap: .7rem;
            }

            .hero-text {
                padding-bottom: 2rem;
            }
        }

        .hero-buttons {
            flex-direction: row;
            gap: 3rem;

            .btn-light {
                width: 50%;
            }
        }
    }

    &-hero > * {
        z-index: 2;
        position: relative;
    }
}
// home-hero end

.survey {
    background: $dark-color;
    color: $light-color;

    &-content {
        padding: .7rem 1rem;
        text-align: center;

        p {
            font-size: .9rem;
            line-height: 1.2;
        }
    }
}
// survey end